* {
  margin: 0;
}
.container {
  background-color: blue;
  gap: 100px;
  position: relative;
  height: 100vh;
}
.test {
  display: flex;
  height: 13vh;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  background-color: rgb(210, 205, 255);
  margin: 0 10px;
}

.inner {
  background-color: rgb(205, 50, 50);
  padding: 45px;
  width: 100%;
  text-align: center;
}
