* {
  margin: 0;

  border-radius: 10px;
}

body {
  background-color: grey;
  padding: 1%;
}

header,
footer {
  background-color: rgb(149, 149, 158);
  height: 100px;
}

article,
aside {
  background-color: rgb(76, 75, 109);
  width: 14vw;
}

nav {
  background-color: rgb(51, 125, 229);
  width: 68vw;
}

.container {
  margin: 2vh 0;
  height: 75vh;
  justify-content: space-between;
  display: flex;
}
